#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url(../assets/img/camp.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}