@import url(https://fonts.googleapis.com/css2?family=Potta+One:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap);
@import './utils';

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: Potta One, sans-serif;
}

video {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

button {
    border: none;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.07)
    }

    &:active {
        transform: scale(0.9);
    }
}

@media (max-width: 1260px) {
    .card {
        width: 180px;
    }
}

@media (max-width: 1010px) {
    .svg {
        fill: white;
        transition: 1s;
    }

    footer button {
        background-color: $darkBlue;
        transition: background-color 1s, transform 0.2s;
    }

    .win,
    .lose {
        width: 79.2vw;

        div {
            font-size: 3.95vw;
        }

        button {
            font-size: 2.6vw;
        }
    }
}

@media (min-width: 1010px) {
    .svg {
        fill: black;
        transition: 1s;
    }

    footer button {
        background-color: rgb(168, 106, 37);
        transition: background-color 1s, transform 0.2s;
    }
}

@media (max-width: 660px) {
    .card {
        width: max(25.5vw, 128px);
    }

    .logo {
        width: 77.8vw;
    }

    .startPage h1 {
        font-size: 9.1vw;
    }

    .difficultyLevels button {
        padding: 2vw 2.8vw 2vw 2.8vw;
        font-size: 3.65vw;
    }

    .win,
    .lose {
        width: 79.2vw;

        div {
            padding: 2vw 4vw 2vw 4vw;
        }

        button {
            padding: 1.7vw 3vw 1.7vw 3vw;
        }
    }
}

@media (max-width: 536px) {
    .headerContainer {
        display: grid;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
    }

    .score {
        margin: 30px 0 0 0;
    }
}