@import './utils';

footer {
    button {
        @include flexCenter(row, center, center);
        height: 45px;
        width: 45px;
        border-radius: 50%;
    }
}

.footerContainer {
    @include flexCenter(row, center, space-between);
    padding: 0 40px 20px 40px;
    max-width: 1700px;
    margin: 0 auto;
}

.soundSection {
    display: flex;
    gap: 12px;
}

.svg {
    height: 25px;
}