@import './utils';

footer {
    button {
        @include flexCenter(row, center, center);
        height: 40px;
        width: 40px;

        border: none;
        border-radius: 50%;
        cursor: pointer;
    }
}

.footerContainer {
    @include flexCenter(row, center, space-between);
    padding: 0 40px 20px 40px;
    max-width: 1700px;
    margin: 0 auto;
}

.soundSection {
    display: flex;
    gap: 12px;
}

.sound, .music, .questionMark{
    height: 25px;
}