@import './utils';

.headerContainer {
    @include flexCenter(row, center, space-between);
    flex-wrap: wrap;
    padding: 20px 30px 0 30px;
    max-width: 1700px;
    margin: 0 auto;

    img {
        height: 120px;
        cursor: pointer;
    }
}

.score {
    flex-shrink: 0;
    padding: 15px;
    margin-left: 40px;
    background-color: $darkBlue; 
    color: white;
    font-size: 24px;
    border-radius: 20px;
    box-shadow:  0px 5px 15px #424242, -0px -5px 15px #424242;

    & div:first-child {
        margin-bottom: 10px;
    }
}

.playGround {
    flex: 1;
    @include flexCenter(row, center, center);
    padding: 0 40px 0 40px;
    margin: 30px 0 30px 0;
    gap: 20px;
    flex-wrap: wrap;
}

.characterHolder, 
.card {
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.card {
    @include flexCenter(column, center, space-between);
    aspect-ratio: 1 / 1.41;
    width: 220px;
    padding: 7px 8px 10px 8px;
    flex-shrink: 0;

    background-image: url(../assets/img/card_background.jpg);
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.characterHolder {
    height: 100%;
    width: 100%;
}

.name {
    margin-top: 5px;
}